:root {
	--backColor: #efefef;
	--loginColor: #d3d2d2;
	--headerText: hsla(210, 5%, 16%, 1);
	--yellow: #fff780;
	--textColor: #ebebeb;
	--silverColor: hsla(55, 10%, 75%, 1);
	--buttonColor: hsla(149, 83%, 30%, 1);
	--buttonHover: hsla(149, 83%, 20%, 1);
	--buttonClick: hsla(149, 83%, 15%, 1);
	--blueColor: #0fa3b1;
}

.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.flex-container {
	display: flex;
}
.flex-center {
	justify-content: center;
	align-items: center;
}

* {
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
}

body {
	margin: 0px;
	background-color: var(--backColor);
}

header {
	flex-direction: column;
	background-color: var(--blueColor);
	width: 100%;
	color: var(--textColor);
	border: 1px solid var(--silverColor);
}
nav {
	flex-direction: row;
	justify-content: space-evenly;
}
.header-top {
	justify-content: space-between;
}
.header-top h1 {
	margin-left: 20px;
	font-size: 3rem;
	text-shadow: 1px 1px 5px black;
}
.header-options {
	background-color: var(--yellow);
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-login {
	display: flex;
	padding: 20px 20px 20px 20px;
	height: 100px;
	width: 100px;
	align-items: center;
	justify-content: center;
}
.header-link {
	border: 3px solid var(--blueColor);
	padding: 10px;
	border-radius: 15px;
}
.header-link a {
	font-size: 20px;
	font-weight: 600;
	color: var(--headerText);
	padding: 10px;
}
.index-login-button {
	font-size: 20px;
	padding: 5px;
	color: var(--textColor);
	border-color: var(--silverColor);
	border-radius: 15px;
	width: auto;
	height: auto;
	background-color: var(--buttonColor);
}
